<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716344676713-jpekltuepi19uojhs9se6ihefaacqf5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716344676713-jpekltuepi19uojhs9se6ihefaacqf5u</string>
	<key>API_KEY</key>
	<string>AIzaSyB4LykYUhq5J8dFXJBFhIeGq-4VtkLonFA</string>
	<key>GCM_SENDER_ID</key>
	<string>716344676713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBusinessMobile</string>
	<key>PROJECT_ID</key>
	<string>flutter-business-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-business-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716344676713:ios:4c8fbae29856ff672b6df8</string>
</dict>
</plist>